
html {
  font-family: "Roboto", sans-serif;
  font-family: "Varela Round", sans-serif;
  font-family: "Permanent Marker", cursive;
}

html {
 background-color: #333132;
}

.nothing {
  font-family: "Varela Round";
  color: #fff;
  text-align: center;
  position: relative;
  top: 100px;
}

.lasts {
  font-family: "Varela Round";
  color: #fff;
  text-align: center;
  position: relative;
  right: 135px;


 }

.forever {
  font-family: "Varela Round";
  color: #ffffff;
  text-align: center;
  position: relative;
  right: 18px;
  bottom: 100px;
}

.prompt {
  color: #b73d25;
  text-align: center;
}

.extinction {
  font-family: "Roboto";
  color: #fff;
  transform: rotate(90deg);
  float: left;
  background-color: #42494d;
  text-align: center;
  max-width: 100%;
}
