
html {
  font-family: Roboto, sans-serif;
  font-family: "Varela Round", sans-serif;
  font-family: "Permanent Marker", cursive;
  background-color: #333132;
}

.nothing {
  font-family: "Varela Round";
  color: #fff;
  text-align: center;
  position: relative;
  top: 100px;
}

.spacer {
  margin-left: 15%;
  position: relative;
}

.text-left {
  line-height: 1em;
}

.prompt {
  color: #b73d25;
  display: block;
  position: absolute;
  top: 620px;
}

.extinction {
  font-family: Roboto;
  color: #fff;
  transform: rotate(90deg);
  background-color: #42494d;
  text-align: center;
  max-width: 100%;
  position: fixed;
  top: 390px;
  left: -700px;
  letter-spacing: 3px;
}

p {
  margin: 0 0 .5rem !important;
}

.extinct {
  padding-left: 3em;
  padding-right: 4em;
}

h1 {
  display: block;
  position: absolute;
  top: 300px;
  line-height: .8em;
  padding-left: 15em;
  padding-right: 5em;
  color: #fff;
}
